.cryptoRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;

  background-color: rgba(135, 206, 250, 0.9);
  border-bottom: white solid 2px;
  color: white;
  font-size: 15px;
  /* font-weight: bold; */
  padding: 10px;
  /* border: solid red 1px; */
}

section {
  margin: 15px 5px;
  width: 145px;
}

.nameSymbol {
  text-align: left;
}

.rank {
  width: 25px;
  text-align: center;
}

.crypto-logo {
  width: 30px;
  height: 30px;
  /* border: red 1px solid; */
}

.rankBG {
  padding: 2px 4px 2px;
  background-color: rgba(242, 211, 168, 0.7);
  border-radius: 15%;
}

.price {
  text-align: right;
}

.circulatingSupply {
  text-align: right;
  width: 185px;
}

/* 

Main type blue: #5ea6d8
drop shadow color: #f2d3a8

*/
